<!-- <div class="modal fade" id="bookingconfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
        <img height="300" width="400" src="<#%=@paintingphoto %>" />
        <p>Your booking is now completed</p>
        <p>Your painting will be on its way shortly :)</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-default" href="/puppies/3/book">Confirm</a>
      </div>
    </div>
  </div>
</div>
 -->

