<div class="footer">
  <div class="footer-copyright">
    This footer is artfully made with <i class="fas fa-heart"></i> by AJA
  </div>

  <div class="footer-links">
    <ul>
      <li>Adam <a href="#"><i class="fab fa-github"></i></a></li>
      <li>Alicia <a href="#"><i class="fab fa-github"></i></a></li>
      <li>Jacob <a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
    <!-- <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>

</div>
