<%# raise %>
<div class="cards">
  <% user_paintings.each do |painting| %>
  <%= link_to painting_path(painting) do %>
  <div class="painting-card">
    <img src="<%=painting.photo%>" >
    <div class="painting-card-infos">
      <div>
        <h3><%=painting.name%></h3>
        <p><%=painting.year%></p>
      </div>
      <div class="painting-card-actions">
        <button type="button" class="btn btn-outline-success" id="confirm"><i class="far fa-edit"></i></button>
        <button type="button" class="btn btn-outline-danger" id="confirm"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
