<%# raise %>
<div class="cards">
  <% user_bookings_to_confirm.each do |booking| %>
    <%= link_to painting_path(booking.painting) do %>
      <div class="painting-card">
        <img src="<%=booking.painting.photo%>" >
        <div class="painting-card-infos">
          <div>
            <h3><%=booking.painting.name%></h3>
            <p><%=booking.painting.year%></p>
          </div>
          <div class="painting-card-actions">
            <% if booking.confirmed.nil? %>
              <button type="button" class="btn btn-outline-success" id="confirm"><i class="fas fa-check"></i></button>
              <button type="button" class="btn btn-outline-danger" id="confirm"><i class="fas fa-times"></i></button>
            <% elsif booking.confirmed %>
              <button type="button" class="btn btn-outline-success disabled">Confirmed</button>
            <% else %>
              <button type="button" class="btn btn-outline-danger disabled">Denied</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%#= link_to "Confirm booking", painting_booking_path([painting, painting.]) %>
