<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1553344518-c44926bebaa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80);">
  <div class="container">
    <h1>Bring great art, Anywhere.</h1>
    <p>Find and Connect with local and international artists and bring their art into your space. </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="index">
  <% @paintings = Painting.all %>
  <%= render "paintings/index" %>
</div>
