<h1>Here we are</h1>
 <%= link_to 'Sign up', new_user_registration_path, { :class => "nav-link", 'data-toggle' => 'modal', 'data-target' => '#sign-up-modal' } %>
 <%= link_to 'Log in', new_user_session_path, { :class => "nav-link", 'data-toggle' => 'modal', 'data-target' => '#sign-in-modal' }  %>
