// For the "Hero" on the dashboard
.dashboardbanner {
  background-size: cover;
  background-position: bottom;
  // padding: 25px 0;
  // height: 135px;
  // height: 23vh;
  padding-top: 2em;
  padding-bottom: 1em;
  position: sticky;
  top: 0;
}

.dashboardbanner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size:40px;
  font-weight: bold;
}

.dashboardbanner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 0;
}

.dashboardbanner .container {
  margin-left: 25px;
}

// For the Pill/Tab bar to view user content
.nav-pills {
  padding-left: 40px;
}
.nav-link {
  color: #ffffff;
  margin-right: 10px;
  border-color: #ffffff;
}

.nav-link:hover {
  color: #800080;
  background-color: #ffffff;
}

.nav-pills .nav-link.active {
  color: #800080;
  background-color: #ffffff;
}

// buttons for cards
.painting-card-actions #confirm:hover {
  color: #ffffff;
}

.painting-card-actions #confirm {
  width: 50px;
}

.btn-outline-warning {
    background-color: transparent;
    color: #800080;
    border-color: #800080;

  &:hover {
    background-color: #800080;
    color: #ffffff;
    border-color: #800080;
  }
}
