.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-content: center;
  position: sticky;

  .navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
